<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace" name="example-config">
    <Properties>
        <Property name="LOG_DIR">/opt/easyfix/easyfix/logs</Property>
        <Property name="ARCHIVE">/opt/easyfix/easyfix/archive</Property>
        <Property name="PATTERN">%-5level %d [%t] %c:%M(%L): %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>

        <RollingFile name="fileWriter"
                     fileName="${LOG_DIR}/easyfix.log"
                     filePattern="${ARCHIVE}/easyfix.log.%d{yyyy-MM-dd}.gz">
             <PatternLayout pattern="${PATTERN}"/> 
<!-- 		<PatternLayout> -->
<!-- 	  		<pattern>%d{ISO8601} [%t] %p %c{3} - %m%n</pattern> -->
<!-- 		</PatternLayout> -->
<!--             <TimeBasedTriggeringPolicy/> -->
	<Policies>
	  <TimeBasedTriggeringPolicy interval="1" modulate="true" />
<!--           <SizeBasedTriggeringPolicy size="10 MB" /> -->
	</Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="fileWriter"/>
        </Root>
<!--         <Logger name="com.easyfix.Jobs.action.JobAction" level="TRACE" additivity="true"> -->
<!--             <AppenderRef ref="STDOUT"/> -->
<!--         </Logger> -->
<!--         <Logger name="com.easyfix.Jobs.action.JobAction" level="ERROR" additivity="true"/> -->
<!--         <AppenderRef ref="STDOUT"/> -->
    </Loggers>
</Configuration>