<div class="portlet box blue">
		<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-reorder"></i>#if($!skillObj.skillId == 0) Add #else Edit #end Skill
				</div>					
			<br><button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		</div>
		

		<div class="portlet-body form">
			<form name="skillfrm" class="form-horizontal" id="skill_formId" action="saveAddEditSkill" method="post">
			
				<div class="form-body">
					<input type="hidden" name="skillId"  id="skillId" value="$!skillObj.skillId" /><br>
					
					<div class="form-group">
						<label class="control-label col-md-4">Skill Name <span class="required">
						* </span>
						</label>
						<div class="col-md-8">
							<input type="text" name="skillName" id="skillName" data-required="1" class="form-control" value="$!skillObj.skillName"/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-4">Skill Description <span class="required">*
						 </span>
						</label>
						<div class="col-md-8">
							<input type="text" name="skillDesc" id="skillDesc" data-required="1" class="form-control" value="$!skillObj.skillDesc"/>
						</div>
					</div>
					
					#if($!skillObj.skillId == 0)
					<input type="hidden" name="skillStatus" value="1" />
					#else
						
						<div class="form-group">
							<label class="control-label col-md-4">Status</label>
							<div class="col-md-8">
								<select class="form-control bs-select" name="skillStatus" id="skillStatus">
									<option value="1" #if($!skillObj.skillStatus == 1) selected #end>Active</option>
									<option value="0" #if($!skillObj.skillStatus == 0) selected #end>Inactive</option>
								</select>
							</div>
						</div>
					#end
												
				</div>
				<div class="form-actions right">
					<div class="col-md-offset-3 col-md-9">
						<button type="submit" id="addEditSkillBtn" class="btn green">Submit</button>
						<button type="button" data-dismiss="modal" class="btn red">Cancel</button>
					</div>
				</div>
			
			</form>
		</div>		
	
</div>
<script src="pages/js/validate-city.js"></script>
<script>

$(document).ready(function () {
	ComponentsDropdowns.init();

    $('#addEditSkillBtn').click(function () {
        if ($("#skill_formId").valid()) {
		        Metronic.blockUI({
			        target: '#modal-body-id',
			        animate: true,
			        overlayColor: 'grey'
			    });
        }
    });

});

</script>