
#parse("pages/common/Header.vm")
#parse("pages/common/Navigation.vm")

<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
	<div class="modal fade" id="portlet-config" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" >
		<div class="modal-dialog" style="width:750px;">
		    <div class="modal-content">
				<div class="modal-body" id="modal-body-id">
					 <center>Please wait...</center>
				</div>
			</div>	
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->		
	</div>
	
	
<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->	

	<div class="page-content-wrapper">
		<div class="page-content">
			
			
			<!-- BEGIN PAGE HEADER-->
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-building"></i>
						<a href="#">Tracking</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="#">Call Center</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="#">City Analysis</a>
					</li>
				</ul>
			</div>
			<h3 class="page-title">City Analysis</h3>
			<!-- END PAGE HEADER-->
			
			<div class="clearfix">
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-calendar"></i>Filter Parameter
							</div>
							<div class="actions">
								<a href="#" id="downloadLink" disabled class="btn btn-default btn-sm" onclick="downloadClientTracking('cityTracking')">
									<i class="fa fa-download"></i>
									Download
								</a>						
							</div>
						</div>
												
					<div class="portlet-body">
						<table class="table">
							<tbody>
								<tr>									
									<td width="30%" style="border:0"><b>Requested Date Range : </b> <br>
										<div class="input-group" id="defaultrange">
											<input type="text" class="form-control input-medium" id="dateRange" >
											<span class="input-group-btn" style="float:left">
											<button class="btn default date-range-toggle" type="button"><i class="fa fa-calendar"></i></button>
											</span>	
											<span class="help-block" style="display:none"></span>											
										</div>
									</td>
									<td width="15%" style="border:0"><b>Client : </b> <br>
										<select class="form-control select2_job_filter" id="filterClientId" data-placeholder="-- All --" >
											<option value=""></option>
											<option value="0">All</option>	
											#foreach($!client in $clientList)
												<option value="$!client.clientId">$!client.clientName</option>
											#end		
										</select>
									</td>
									
									<td width="20%" style="border:0"><b>Status :</b> <br>
										<select class="form-control select2_job_filter" id="filterStatusId" data-placeholder="-- All --" >
											<option value=""></option>
											<option value="100">All</option>
											<option value="0">New Booked</option>
											<option value="1">Scheduled</option>
											<option value="2">Checked-In</option>
											<option value="3">Checked-Out(Revenue)</option>
											<option value="5">Completed</option>
											<option value="6">Canceled</option>
											<option value="7">Enquiry</option>
											<option value="-1">For Confirmation</option>	
													
										</select>
									</td>
									
									<td width="15%" style="border:0"><b>City :</b> <br>
										<select class="form-control select2_job_filter" id="filterCityId" data-placeholder="-- All --" >
											<option value=""></option>	
											<option value="0">All</option>
											#foreach($!city in $cityList)
												<option value="$!city.cityId">$!city.cityName</option>
											#end		
										</select>
									</td>
									
									<td width="15%" style="border:0"><b>NDM :</b> <br>
									<select class="form-control select2_job_filter" id="filterNdmId" data-placeholder="-- All --" >
										<option value=""></option>	
										<option value="0">All</option>
										#foreach($!ndm in $NDMList)
											<option value="$!ndm.userId">$!ndm.userName</option>
										#end		
									</select>
								</td>
									
									<td style="text-align:center; padding-top:32px; border:0"><a href="Javascript:void(0);" onclick="showJobList();"><i class="fa fa-search"></i></a></td>
								</tr>
							</tbody>
						</table>
						
						<div id="showJobListDiv"></div>
						
					</div>									
				</div>
			</div>	
			
		</div>
			
	</div>
	<!-- END CONTENT -->

#parse("pages/common/Footer.vm")

<script src="pages/metronic_js/jobComboSearch.js"></script>
<script src="/lib_easyfix/assets/admin/pages/scripts/components-pickers.js"></script>
<script>

function showJobList() {

	var client = $("#filterClientId").val();
	var status = $("#filterStatusId").val();
	var city = $("#filterCityId").val();
	var ndmId =  $("#filterNdmId").val();
	if($("#dateRange").val() == "")
	{
		bootbox.alert("Please select date range!");
		return false;
	}
	var tempRange = $("#dateRange").val();
	var startDate = "";
	var endDate = "";
	

	if(tempRange != "") {			
		var dateRange = tempRange.split("--");
		startDate = dateRange[0].trim();
		endDate = dateRange[1].trim();	
	}

	if(client == "")
		client = 0;
	if(status == "")
		status = 100;
	if(city == "")
		city = 0;
	if(ndmId == "")
		ndmId = 0;
	

	Metronic.blockUI({
        target: '#showJobListDiv',
        animate: true,
        overlayColor: 'grey'
    });
	

	jQuery.ajax({
   			type: "POST",
	   		url:  "cityAnalysisDetails",
	   		contentType: false,
		    processData: false,
		    data: function() {
			        var data = new FormData();			
			         data.append("fkClientId", client);
			         data.append("jobStatus", status);
			         data.append("fkCityId", city);
			         data.append("startDate", startDate);
			         data.append("endDate", endDate);
			         data.append("ndmId", ndmId);
			        return data;
			  }(),
	   		success: function(data) {
	   			jQuery("#showJobListDiv").html(data);
	   			$("#downloadLink").removeAttr("disabled");
									        
   			},
   			error: function(data) {
   				bootbox.alert("Job entry failed");
   			}
	});

	return false;
	
}

jQuery(document).ready(function() {       
   		Metronic.init(); // init metronic core components
		Layout.init(); // init current layout
   		JobComboSearch.init();
	//	ComponentsPickers.init();
	
	var curDate = new Date();
	var twoMonthAgo = curDate - 1000 * 60 * 60 * 24 * 60;	
	var d1 = new Date(twoMonthAgo);
	
	var minD =  d1.getDate()+"/"+d1.getMonth()+"/"+d1.getFullYear();
	var maxD =  curDate.getDate()+"/"+(curDate.getMonth()+1)+"/"+curDate.getFullYear();

	$('#defaultrange').daterangepicker({
		opens: (Metronic.isRTL() ? 'left' : 'right'),
	    format: 'DD/MM/YYYY',
	    separator: ' to ',
	    startDate: moment().subtract('days', 7),
	    endDate: moment(),				
		minDate: minD,
        maxDate: maxD,
       },
        function (start, end) {
            $('#defaultrange input').val(start.format('DD MMM, YYYY') + ' -- ' + end.format('DD MMM, YYYY'));
        }
     );
});

function downloadClientTracking(flag) {
	window.location="downloadTracking?track="+flag;

}

</script>

