#parse("pages/common/Header.vm")
#parse("pages/common/Navigation.vm")

<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
	<div class="modal fade" id="portlet-config" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" >
		<div class="modal-dialog" style="width:600px;">
		    <div class="modal-content">
				<div class="modal-body" id="modal-body-id">
					 <center>Please wait...</center>
				</div>
			</div>	
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->		
	</div>
<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->	
			
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">
			
			<!-- BEGIN PAGE HEADER-->
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-building"></i>
						<a href="#">Tracking</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="#">Call Center</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="#">Logging Hours</a>
					</li>
				</ul>
				
			</div>
			<h3 class="page-title">Logging Hours</h3>
			<!-- END PAGE HEADER-->
			
			<div class="clearfix">
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-table"></i>Logging Hours
							</div>
							<div class="actions">
								<a href="#portlet-config" class="btn btn-default btn-sm" data-toggle="modal" onclick="selectDownloadDate()">
								<i class="fa fa-download"></i>
								Download
								</a>						
							</div>							
						</div>
						<div class="portlet-body">
							<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
							<thead>
							<tr>
								<th width="20%">Employee</th>
							
								#foreach($dt in $columnDate)
									
																	
									<th width="10%">$dt</th>								
								#end
								<!--<th width="10%">Total Hours</th>-->
							</tr>
							</thead>
							<tbody>
						
							#set($uid = 0)
							#set($total = 0)
							#foreach($user in $userLoggingList)
								#if($uid != $user.userId)								
									<tr>
										<td>$!user.userName</td>
											#foreach($day in $columnDate)
												<td>
													#foreach($loginHour in $userLoggingList)
														#if($user.userId == $loginHour.userId && $day == $loginHour.loginDateTime)														
															$loginHour.activeTime
														#end
													#end
												</td>
											#end
										<!--<td>$total</td>-->
										
									</tr>
									#set($uid = $user.userId)
									
								#end
							#end
							
							</tbody>
							</table>
							<form id="rcFrm"  action="downloadClientRateCard" method="post">
								<input type="hidden" name="clientId"  id="clientIdDownload" value="" />
							</form>
							<form id="rcFrmUpload"  action="uploadRcExcelFile" method="post">
								<input type="hidden" name="clientId"  id="clientIdUpload" value="" />
							</form>
						</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
				</div>
				
			</div>
		</div>
	</div>
	<!-- END CONTENT -->

#parse("pages/common/Footer.vm")

<script src="/lib_easyfix/assets/admin/pages/scripts/table-editable.js"></script>

<script>
jQuery(document).ready(function() {       
   Metronic.init(); // init metronic core components
   Layout.init(); // init current layout
   TableEditable.init();
});


function selectDownloadDate(){
	jQuery.ajax({  		
		type: "POST",
   		url: "downloadLoggingHourDate",
   		success: function(data)    		{  	
   			$("#modal-body-id").html(data);   			
   		}
	});

	return false;
}


</script>

