<div class="portlet box blue">
		<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-calendar"></i>Delete Jobs
					
				</div>					
			<br><button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		</div>
		
</div>

<div class="portlet-body form">
<div id="deletejobdiv" >
</div>
<form class="form-horizontal" role="form" id="job_deleteJob" method="post" action="">
	<div class="form-body" style="height:auto">
		<div class="form-group">
			<label id = "deleteJobIdlebel" class="control-label col-md-4">Single Jod Id</label>
			<div class="col-md-8" id ="deleteJobIddiv" >
				 
					<input type="text" id="deleteJobId" value="$!jobsObj.jobId" />
								
			</div>	
			
		</div>
		<div class="form-group">
		<label id = "deleteJobCommentlebel" class="control-label col-md-4">Comment</label>
		<div class="col-md-8" id ="deleteJobCommentdiv" >
			 
				<input type="text" id="deleteJobComment" value="$!jobsObj.comments" />
							
		</div>	
		</div>
		<div class="form-actions text-right">
			<div class="row">
				<div class="col-md-offset-2 col-md-9">
					<button type="button" id="DeleteJobButton" class="btn green" >Delete</button>
					<button type="button" id="cancelDeleteJob" data-dismiss="modal" class="btn red">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</form>
</div>

<script>
$('#DeleteJobButton').click(function () {

var deleteJobId = $("#deleteJobId").val();
var comment = $("#deleteJobComment").val();


if(blankValMetronicLabel("deleteJobId","deleteJobIddiv","deleteJobIdlebel"))
				return false;
if(blankValMetronicLabel("deleteJobComment","deleteJobCommentdiv","deleteJobCommentlebel"))
	return false;
Metronic.blockUI({
		        target: '#deletejobdiv',
		        animate: true,
		        overlayColor: 'grey'
			});
       jQuery.ajax({  		
		type: "POST",
   		url: "savedeleteJobAfterCheckout?comments="+comment+"&jobId="+deleteJobId,
   		success: function(data) 
   		{  	
   					$("#deletejobdiv").html("");
		   			$("#deletejobdiv").html(data);
   		}
	});

	return false;
    });
</script>	