#set($loc = $request.getAttribute("loc"))

<input type="hidden" id="loc" value="$loc" />

<div class="portlet box blue">
	<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-edit"></i>Job Cancel
			</div>
	</div>		
	
		<div class="portlet-body form">
			<input type="hidden" id="cancelJobId" value="$!jobsObj.jobId" />
			<input type="hidden" id="canceledOn" value="$!jobsObj.canceledOn" />
			
			<form name="comment" action="" method="post" class="form-horizontal" id="comment_formId">
				<div class="form-body" >											
					<div class="form-group" id="cancel-divId">
				 	<label class="col-md-3 control-label" id="cancel-lableId">Cancel Reason<span class="required">* </span></label>			 	
						<div class="col-md-9">
					  		<select class="form-control select2_category input-large" id="cancelId" data-placeholder="Select Cancel Reason" >
								<option value=""></option>
								#foreach($enum in $enumReasonList)
									<option value="$!enum.enumId">$!enum.enumDesc</option>
								#end			
							</select>
					  		<span class="help-block" style="display:none"></span>
						</div>
					</div>	
					<div class="form-group" id="desc-divId">
				 	<label class="col-md-3 control-label" id="desc-lableId">Remarks<span class="required">* </span></label>			 	
						<div class="col-md-9">
					  		<textarea class="form-control input-large" id="commentId" rows="3" placeholder="Write Comment..." ></textarea>
							<span class="help-block" style="display:none"></span>
						</div>
					</div>
				
			</div>
			
				<div class="form-actions right">
					<div class="col-md-offset-3 col-md-9">
						<button type="button" id="cancelJobBtn" class="btn green">Submit</button>
						<button type="button" data-dismiss="modal" id="cancelCancelBtn" class="btn red">Cancel</button>
					</div>
				</div>
	
			</form>
		</div>
		
</div>


<script language="javascript" type="text/javascript">
$('#cancelJobBtn').click(function () {

	if(isComboSelectedMetronicLabel("cancelId","cancel-divId","cancel-lableId"))
				return false;
	if(blankValMetronicLabel("commentId","desc-divId","desc-lableId"))
				return false;	
				
	var cancelJobId = $("#cancelJobId").val();
	var cancelId = $("#cancelId").val();
	var canceledOn = $("#canceledOn").val();
	
	var conf = confirm("Are you sure want to cancel this job?");
	
	Metronic.blockUI({
        target: '#comment_formId',
        animate: true,
        overlayColor: 'grey'
    });
	if(conf) 
	{
		jQuery.ajax({
	   			type: "POST",
		   		url:  "saveCancelJob",
		   		contentType: false,
			    processData: false,
			    data:function() {
				        var data = new FormData();
				        data.append("jobId",cancelJobId);
				        data.append("enumId",cancelId); 
				        data.append("canceledOn",canceledOn); 				          
				        data.append("comments",$("#commentId").val());
				        
				        return data;
				  }(),
		   		success: function(data) {
		   			window.location.href=$("#loc").val();
										        
	   			},
	   			error: function(data) {
	   				bootbox.alert("Job canceld failed");
	   			}
		});
	
		return false;
	}

});

$(document).ready(function () {
	$('#cancelId').select2({
           allowClear: true
        });
});

</script>
