#set($totalSum = $request.getAttribute("totalSum"))
#set($star = $request.getAttribute("star"))
#set($loc = $request.getAttribute("loc"))
#set($reschedulingFlag = $request.getAttribute("flag"))
#set($cancelledBy = $request.getAttribute("cancelledBy"))
#set($rejectedBy = $request.getAttribute("rejectedBy"))
#set($appActionMap = $request.getAttribute("appActionMap"))

<input type="hidden" id="loc" value="$loc" />
<input type="hidden" id="reschedulingFlag" value="$reschedulingFlag" />
<input type="hidden" id="CRMuserIdforchnageOwnerId" value="$userObj.userId" />
<input type="hidden" id="clientIdForAddingEnquiryButtomForRetail" value="$!jobsObj.fkClientId" />
 <!-- <input type="hidden" id="customerId" value="$!jobsObj.fkCustomerId" /> -->

<div class="portlet box blue">
		<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-calendar"></i>Schedule Job
				</div>					
			<br><button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		</div>
		
</div>
		<div class="portlet-body form">
			<form class="form-horizontal" role="form" id="job_formId" method="post" action="">
			<input type="hidden" id="scheduleJobId" value="$!jobsObj.jobId" />
			
				<div class="form-body" style="height:420px; overflow-y: scroll; overflow-x: hidden;">
					<h4 class="form-section" style="margin:10px 0px 15px">Job Info</h4>
					<div class="row">
						<div class="col-md-6">
							<label class="control-label col-md-4">Job Id:</label>
							<div class="col-md-8">
								<p class="form-control-static">
									 $!jobsObj.jobId
									#if(!$!jobsObj.owner.userName || $!jobsObj.owner.userName =='') 
									 &nbsp; &nbsp; 
									 <a href="#sub-portlet-config" class="btn btn btn-xs blue" data-toggle="modal" onclick="ownJobFromSchedulePage($!jobsObj.jobId);">
									<i class="fa fa-envelope-o"></i> OWN IT </a>
									#end
								</p>
							</div>							
						</div>
						<!--/span-->
						<div class="col-md-6">
							<label class="control-label col-md-4">Job Description:</label>
							<div class="col-md-8">
								<p class="form-control-static" id="changeDescDiv">
									  $!jobsObj.jobDesc
									   &nbsp; &nbsp; 
									 <a href="#sub-portlet-config" class="btn btn btn-xs blue" data-toggle="modal" onclick="setJobDesc($!jobsObj.jobId,'$!jobsObj.jobDesc');">
									<i class="fa fa-envelope-o"></i> Change </a>
								</p>
							</div>							
						</div>
						<!--/span-->
					</div>
					<!--/row-->
					<div class="row">
						<div class="col-md-6">
							<label class="control-label col-md-4">Created On:</label>
							<div class="col-md-8">
								<p class="form-control-static">
									  $!jobsObj.createdDateTime
								</p>
							</div>
						</div>
						<!--/span-->
						<div class="col-md-6">
							<label class="control-label col-md-4">Requested On:</label>
							<div class="col-md-8">
								<p class="form-control-static" id="changeDateDiv" >
									$!jobsObj.requestedDateTime
									 &nbsp; &nbsp; 
									 <a href="#sub-portlet-config" class="btn btn btn-xs blue" data-toggle="modal" onclick="setJobRequestedDate($!jobsObj.jobId,'$!jobsObj.requestedDateTime');">
									<i class="fa fa-clock-o"></i> Change </a>
								</p>
							</div>
						</div>
						<!--/span-->
					</div>
					<!--/row-->
					<div class="row">
						<div class="col-md-6">
							<label class="control-label col-md-4">Client:</label>
							<div class="col-md-8">
								<p class="form-control-static">
									  $!jobsObj.clientObj.clientName
								</p>
							</div>
						</div>
						<!--/span-->
						<div class="col-md-6">
							<label class="control-label col-md-4">Service Type:</label>
							<div class="col-md-8">
								<p class="form-control-static">
									  $!jobsObj.serviceTypeObj.serviceTypeName
								</p>
							</div>
						</div>
						<!--/span-->
					</div>
					
					<!--/row-->
					<div class="row">
						#if($cancelledBy)
					<div class="col-md-6">
							<label class="control-label col-md-4">Cancelled By:</label>
							<div class="col-md-8">
								<p class="form-control-static">
								$cancelledBy.efrNameCSV
								</p>
							</div>
						</div>
						#end
						<!--/span-->
						#if($rejectedBy)
						<div class="col-md-6">
						
							<label class="control-label col-md-4">Rejected By:</label>
							<div class="col-md-8">
								<p class="form-control-static">
								$rejectedBy.efrNameCSV
								</p>
							</div>
						</div>
						#end
						<!--/span-->
					</div>
					
					
					<!--/row-->
					<div class = "row">
					<div class="col-md-6">	
					<div class="form-group" id="job-image-upload-divId" >
					<label id="job-image-upload-label-id" class="col-md-4 control-label">Job Image:</label>
					
					<div class="col-md-8">
						<input id="jobImage" type="file" class="form-control input-medium" name="jobImage" value="$!jobsObj.jobImage">
						<span class="help-block" id="error-file-text" style="display:none">Unsupported file format</span>
						<label id="job-image-upload-label-id" class="col-md-4 control-label"><button type="button" id="uploadImageJobBtn" class="btn green" onclick="uploadImageJob($!jobsObj.jobId,$!jobsObj.jobStatus);">Upload</button>
						</lable>
					</div>
					</div>
					</div>
					
					<div class="col-md-6">
					<label class="control-label col-md-4">Skill:</label>
					<div class="col-md-8">
						<p class="form-control-static">
							#if($!jobsObj.skillId && $!jobsObj.skillId > 0)  L$!jobsObj.skillId
							#else NA
							#end 
						</p>
					</div>
				</div>
			
					</div>
					<!--/row-->
					
					<div class="row" id = "job-service-schedule-divId">
						<div class="col-md-12">
							<label class="control-label col-md-2" id = "job-service-schedule-label-Id">Selected Services:</label>
							<div class="col-md-10">
								<div class="portlet-body" id="serviceDivId">
									<input type="hidden" id="jobService" value="$!jobsObj.clientServiceIds" />
									<div class="table-scrollable">
										<table class="table table-hover">
										<tbody>
											<tr style="background-color:#EEE">
												<td><b>Services</b></td>
												<td width="20%" style="text-align:right; padding-right:20px;"><b>Charge</b></td>													
											</tr>
											#foreach($service in $jobServiceList)
												<tr>
													<td>$!service.serviceName</td>
													<td style="text-align:right; padding-right:20px;">
														#if($!service.getJobChargeType() == 0 || $!service.totalCharge == "0.00")
															$!service.totalCharge <span style="color:red">*</span>
														#else
															$!service.totalCharge
														#end
													</td>													
												</tr>
											#end
											<tr">
												<td style="text-align:right"><b>Total: </b></td>
												<td width="20%" style="text-align:right; padding-right:20px;"><b>$totalSum
												#if($star==1) <span style="color:red">*</span> #end</b></td>								
											</tr>
										</tbody>
										</table>
									</div>
								</div>
								<div class="control-label">
								 	<a href="#sub-portlet-config" class="btn btn btn-xs blue" data-toggle="modal" onclick="addEditJobService($!jobsObj.jobId,$!jobsObj.fkClientId,$!jobsObj.fkServiceTypeId,'$totalSum');">
									<i class="fa fa-plus-square"></i> / <i class="fa fa-minus-square"></i> Services	</a>								
								</div>
							</div>
						</div>						
					</div>
					<!--/row-->
					<h4 class="form-section" style="margin:5px 0px 15px">Customer Info</h4>
					<div class="row">
						<div class="col-md-6">
							<label class="control-label col-md-4">Name:</label>
							<div class="col-md-8">
								<p class="form-control-static">
									 $!jobsObj.customerObj.customerName
								</p>
							</div>
						</div>
						<!--/span-->
						<div class="col-md-6">
							<label class="control-label col-md-4">Contact No.:</label>
							<div class="col-md-8">
								<p class="form-control-static">
									$!jobsObj.customerObj.customerMobNo
									  &nbsp; &nbsp; 
									 <a href="#sub-portlet-config" class="btn btn btn-xs blue" data-toggle="modal" onclick="showCrmSmsList($!jobsObj.customerObj.customerMobNo,$!jobsObj.jobId);">
									<i class="fa fa-envelope-o"></i> SMS </a>
								</p>
							</div>
						</div>
					</div>
					<!--/row-->	
				
					<div class="row">
					<div class="col-md-6">
						<label class="control-label col-md-4">Additional Name:</label>
						<div class="col-md-8">
							<p class="form-control-static">
								 $!jobsObj.additionalName
							</p>
						</div>
					</div>
					</div>
						
					<div class="row">
						<div class="col-md-6">
							<label class="control-label col-md-4">Address:</label>
							<div class="col-md-8">
								<p class="form-control-static">
									$!jobsObj.addressObj.address
								</p>
							</div>
						</div>
						<!--/span-->
						<div class="col-md-6">
							<label class="control-label col-md-4">City:</label>
							<div class="col-md-8">
								<p class="form-control-static">
									 $!jobsObj.addressObj.cityObj.cityName
									 &nbsp; &nbsp; 
									 <a href="#sub-portlet-config" class="btn btn btn-xs blue" data-toggle="modal" onclick="addEditCustAddress($!jobsObj.addressObj.addressId,$!jobsObj.fkCustomerId);">
									<i class="fa fa-child"></i> Edit Address </a>
									
									
								</p>
							</div>
						</div>
						<!--/span-->
					</div>
					<!--/row-->
					<div class="row">
						<div class="col-md-6">
							<label class="control-label col-md-4">Pin No.:</label>
							<div class="col-md-8">
								<p class="form-control-static">
									 $!jobsObj.addressObj.pinCode
								</p>
							</div>
						</div>
						<!--/span-->
						<div class="col-md-6">
						
						#if($!jobsObj.addressObj.gpsLocation && $!jobsObj.addressObj.gpsLocation != '')
							<label class="control-label col-md-4">GPS Location:</label>
											
						#else	
							<label class="control-label col-md-4" style="color:red;"><b>GPS Location:</b></label>
							
						#end
							<div class="col-md-8">
								<p class="form-control-static">
										#if($!jobsObj.addressObj.gpsLocation && $!jobsObj.addressObj.gpsLocation != '')
										$!jobsObj.addressObj.gpsLocation
										#else
										 <label style = "color:red;">Not Found</label>
										 #end
									 
								</p>
							</div>
						</div>
						<!--/span-->
					</div>
					<!--/row-->
					
					
					<h4 class="form-section" style="margin:20px 0px 0px">Available Easyfixer</h4>
					<div class="row" id="efrChooseDiv">
					<span class="help-block" id="efrErrorId" style="display:none; margin-left:50px;"></span>
						<div class="portlet box">						
							<div class="portlet-body" style="padding-top:0px;">										
								<table class="table table-striped  table-hover" id="sample_1">
								<thead>
								<tr>
									<th width="5%">#</th>
									<th width="30%" class="text-center">Easyfixer Name</th>
									<th width="10%" class="text-center">Mobile No.</th>
									<th width="15%" class="text-center">Balance</th>
									<th width="10%" class="text-center">Dist(Km)</th>
									<th width="10%" class="text-center">Zone</th>
									<th width="10%" class="text-center">Completed</th>
									<th width="10%" class="text-center">OpenJobs</th>
									<th width="10%" class="text-center">Rating</th>
									<th width="10%" class="text-center">Road Dist.(Km)</th>
									
									<th width="10%" class="text-center">&nbsp;</th>
								</tr>
								</thead>
								<tbody>
									#set($i=0)
									#foreach($efr in $finalEfrList)
										<tr id="row$i" class="odd gradeX #if($!efr.assignStatus == 1) alert-danger #end">
											<td style="padding-left:20px">
												<div class="md-radio">
												<input type="radio" id="radio$i" class="md-radiobtn" name="chooseEasyfixer" value="$!efr.easyfixerId" #if($!efr.easyfixerId == $!jobsObj.fkEasyfixterId) checked #end /> <!-- #if($!efr.assignStatus == 1) disabled #end -->
												
													<label for="radio$i">
													<span></span>
													<span class="check"></span>
													<span class="box"></span>
													</label>
												</div>
											</td>
											<td style="text-align:left; #if($!efr.isAppUser == 1) color:green #end">#if($!efr.isAppUser == 1)<i class="fa fa-mobile"></i>&nbsp;&nbsp;#end $!efr.easyfixerName</td>
											<td>$!efr.easyfixerNo</td>
											<td style="text-align:center; #if($!efr.currentBalance <= 0) color:red #end">$!efr.currentBalance</td>
											<td class="text-center">$!efr.distanceFormCustomer</td>
											<td class="text-center">$!efr.cityZoneName</td>
											<td class="text-center">$!efr.currentMonthCompletedJobs</td>
											<td class="text-center">$!efr.openJobs</td>
											<td class="text-center">$!efr.lastSixMonthCusRating</td>
											
											<td class="text-center" id="dist$i">
												<a href="javascript:void(0);" onclick="getRoadDistance('$!jobsObj.addressObj.gpsLocation','$!efr.easyfixerBaseGps','dist$i');"><i class="fa fa-road"></i></a>
												</td>
											<!--<td class="text-center">$!efr.finalWeightage</td>-->
											<td class="text-center" id="rej$i">
											#if($!efr.assignStatus == 1)
												<a href="#" title="Rejected"><i class="fa fa-thumbs-down"></i></a>
											#else
												<a href="#sub-portlet-config" data-toggle="modal" title="Reject" onclick="rejectcall($!jobsObj.jobId,$!efr.easyfixerId,'$!efr.easyfixerName','$!efr.easyfixerNo',$i);">
												<i class="fa fa-thumbs-o-down"></i></a>
											#end
										</td>
										</tr>
										#set($i=$i+1)
									#end
									
									
								</tbody>
								</table>								
							</div>							
						</div>						
					</div>
					<!--/row-->
					<h4 class="form-section" style="margin:20px 0px 0px">Remarks</h4>
					<div class="row">
						<span class="help-block" style="display:none; margin-left:50px"></span>
							<div class="portlet box">						
								<div class="portlet-body" style="padding-top:0px;" id="schedRemarkDiv">										
								
								</div>							
							</div>						
					</div>
					<!--/row-->
					
					<h4 class="form-section" style="margin:20px 0px 0px">Image</h4>
					<div class="row">
						<span class="help-block" style="display:none; margin-left:50px"></span>
							<div class="portlet box">						
								<div class="portlet-body" style="padding-top:0px;" id="schedImageDiv">										
								
								</div>							
							</div>						
					</div>
					<!--/row-->
				</div>
				<div class="form-actions">
					<div class="row">
						<div class="col-md-6">
							<a href="#sub-portlet-config" data-toggle="modal" class="btn red" onclick="cancelJob($!jobsObj.jobId,1);">
								<i class="fa fa-times"></i> Cancel Job</a>
								&nbsp; &nbsp;
							<a href="#sub-portlet-config" data-toggle="modal" class="btn purple" onclick="addComment($!jobsObj.jobId,1);">
								<i class="fa fa-edit"></i> Add Remarks</a>
						</div>
						<div class="col-md-6 text-right">
							#if(!$!jobsObj.owner.userName || $!jobsObj.owner.userName =='') 
								#if($!jobsObj.fkClientId==1)
								<button type="button" id="retailenquiryfromschedulepageJobBtn" class="btn yellow" >Enquiry</button>
								#end
							#end
							<button type="button" id="scheduleJobBtn" class="btn green" >Schedule</button>
							<button type="button" data-dismiss="modal" id="scheduleCancelBtn" class="btn red">Close</button>
						</div>
					</div>
				</div>
			</form>
		</div>


<script src="pages/metronic_js/easyfixerTable.js"></script>

<script>

jobCommentList($!jobsObj.jobId,'schedRemarkDiv');
jobImageList($!jobsObj.jobId,'schedImageDiv');

TableManaged2.init();


function ownJobFromSchedulePage(ownerJobId)
{

	var ownerId = $("#CRMuserIdforchnageOwnerId").val();

	var reason = "owning from unowned jobs";
		jQuery.ajax({
	   			type: "POST",
		   		url:  "updateJobOwner",
		   		contentType: false,
			    processData: false,
			    data:function() {
				        var data = new FormData();
				        data.append("ownerJobIds",ownerJobId);
				        data.append("jobOwner",ownerId);			          
				        data.append("OwnerChangeReason",reason);
				        
				        return data;
				  }(),
		   		success: function(data) {
		   			window.location.href="home";
		   			//scheduleJob(ownerJobId);
										        
	   			},
	   			error: function(data) {
	   				bootbox.alert("Job owner change failed");
	   			}
		});
}

function addEditCustAddress(addressId,customerId)
	{
		jQuery("#modal-body-id").html(" ");
		jQuery("#sub-modal-body-id").html(" ");
		jQuery("#address-modal-id").html(" ");
		
		
		//var jobcustomerId = $("#customerId").val();
	
		var addEditCustAddressjobId = $("#scheduleJobId").val();

		//$('input[name="chooseAddress"]').prop('checked', false);
		
		jQuery("#sub-modal-body-id").html("<center>Please wait...</center> ");
		
			  jQuery.ajax({
				type	: "POST",
				url		: "addEditCustAddress?customerId="+customerId+"&addressObj.addressId="+addressId, 
				success	: function(data){
					jQuery("#sub-modal-body-id").html(data);
				    $( "#scheduleCancelBtn" ).trigger( "click" );
				    jQuery("#re-schedule-modal-body-id").html(" ");
					jQuery("#schedule-modal-body-id").html(" ");		    
				}
			}); 
					
	}
		
	function selectAddressAjax(id)
{
//	var conf = confirm("Are you sure selected address is correct address?");
	//if(conf)
	{
		var add = $("#add"+id).val();
		var loc = $("#loc"+id).val();
		
		
		$("#coord").val(loc);
		$( "#cancelAddChoseBtn" ).trigger( "click" );
	}
}

function setJobRequestedDate(jobId,reqDate){
jQuery("#sub-modal-body-id").html(" ");
	jQuery.ajax({  		
		type: "POST",
   		url: "changeDate?jobId="+jobId+"&requestedDateTime="+reqDate+"&flag=1",
   		success: function(data) 
   		{  	
   			jQuery("#sub-modal-body-id").html(" ");
			jQuery("#sub-modal-body-id").html(data);
   		}
	});

	return false;	
				
}




function setJobDesc(jobId,desc){
jQuery("#sub-modal-body-id").html(" ");
	jQuery.ajax({  		
		type: "POST",
   		url: "changeJobDesc?jobId="+jobId+"&jobDesc="+desc+"&flag=1",
   		success: function(data) 
   		{  	
   			jQuery("#sub-modal-body-id").html(" ");
			jQuery("#sub-modal-body-id").html(data);
   		}
	});

	return false;	
				
}


	
function rejectcall(jobId,efrId,efrName,efrNo,divId){
	
	jQuery.ajax({  		
		type: "POST",
   		url: "efrJobRejections?jobId="+jobId+"&fkEasyfixterId="+efrId+"&easyfixterObj.easyfixerName="+efrName+"&easyfixterObj.easyfixerNo="+efrNo+"&divId="+divId,
   		success: function(data) 
   		{  	
   			jQuery("#sub-modal-body-id").html(" ");
			jQuery("#sub-modal-body-id").html(data);
   		}
	});

	return false;	
				
}
	
function addEditJobService(jobId,clientId,serviceTypeId,total){

	var jobServic = $("#jobService").val();
	jQuery.ajax({  		
		type: "POST",
   		url: "addEditJobService?jobId="+jobId+"&fkClientId="+clientId+"&fkServiceTypeId="+serviceTypeId+"&clientServiceIds="+jobServic+"&total="+total+"&flag=schd",
   		success: function(data) 
   		{  	
   			jQuery("#sub-modal-body-id").html(" ");
			jQuery("#sub-modal-body-id").html(data);
   		}
	});

	return false;	
				
}

$('#retailenquiryfromschedulepageJobBtn').click(function () {

	Metronic.blockUI({
        target: '#schedule-modal-body-id',
        animate: true,
        overlayColor: 'grey'
    });
    Metronic.blockUI({
        target: '#re-schedule-modal-body-id',
        animate: true,
        overlayColor: 'grey'
    });
    

	jQuery.ajax({
   			type: "POST",
	   		url:  "changeJobStatus",
	   		contentType: false,
		    processData: false,
		    data:function() {
			        var data = new FormData();
			        data.append("jobId",$("#scheduleJobId").val());
			        data.append("jobStatus",7);
			        
			        return data;
			  }(),
	   		success: function(data) {
	   			
	   			window.location.href="home";
	   			
									        
   			},
   			error: function(data) {
   				bootbox.alert("Job enquiry  failed"); 
   			}
	});

	return false;

});



$('#scheduleJobBtn').click(function () {

	if(blankCheckBoxRadioMetronic("chooseEasyfixer","efrChooseDiv","efrErrorId","easyfixer"))
				return false;
				
	if(isComboSelectedMetronicLabel("jobService","job-service-schedule-divId","job-service-schedule-label-Id"))
				return false;
		var chooseEfr = $('input:radio[name=chooseEasyfixer]:checked').val();
		var distance = $('input:radio[name=chooseEasyfixer]:checked').closest('td').next().next().next().text();
		var easyfixerName = $('input:radio[name=chooseEasyfixer]:checked').closest('td').next().text();
		var easyfixerNo = $('input:radio[name=chooseEasyfixer]:checked').closest('td').next().next().text();
		//var reschedulingFlag = 

	Metronic.blockUI({
        target: '#schedule-modal-body-id',
        animate: true,
        overlayColor: 'grey'
    });
    Metronic.blockUI({
        target: '#re-schedule-modal-body-id',
        animate: true,
        overlayColor: 'grey'
    });
    

	jQuery.ajax({
   			type: "POST",
	   		url:  "saveScheduleJob",
	   		contentType: false,
		    processData: false,
		    data:function() {
			        var data = new FormData();
			        data.append("jobId",$("#scheduleJobId").val());
			        data.append("fkEasyfixterId",chooseEfr);
			        data.append("distanceTraveledByEasyfixer",distance);
			        data.append("jobFlag",$("#reschedulingFlag").val());
			        
			        return data;
			  }(),
	   		success: function(data) {
	   			if($("#loc").val() == 'job')
	   			{
	   				$( "#scheduleCancelBtn" ).trigger( "click" );
	   				showJobList();
	   			}
	   			else	
	   			{
	   				window.location.href=$("#loc").val();
	   			}
									        
   			},
   			error: function(data) {
   				bootbox.alert("Job scheduling failed"); 
   			}
	});

	return false;

});

function getRoadDistance(custGps, efrGps, divId)
{
	jQuery("#"+divId).html("<img src='pages/images/input-spinner.gif'>");
	jQuery.ajax({
		type	: "POST",
		url		: "getRoadDistance?custGPS="+custGps+"&efrGPS="+efrGps, 
		success	: function(data){
		    jQuery("#"+divId).html(data);
		}
	});

}


</script>	



